<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Account</title>
</head>
<link rel="stylesheet" href="../CSS/indexx.css" />
<style>
    body {
        background-color: #eaf2f8;
    }
</style>

<body>
    <div class="createAccount">
        <nav>
            <div class="logo"><img src="./logo.png" alt="Taskease" /></div>
            <ul>
                <li><a href="/Home">Home</a></li>
                {{#if isAdmin}}
                <li><a href="./createUser">Create Users</a></li>
                {{/if}}
                {{#if isAdmin}}
                <li><a href="./user">User</a></li>
                {{/if}}
                {{#if isAdmin}}
                <li><a href="./createproject">Create Project</a></li>
                {{/if}}
                <li><a href="./project">Project List</a></li>
                <li><a href="./createTask">Create Task</a></li>
                <li><a href="/task-list">Task List</a></li>
            </ul>
        </nav>
        <aside>
            <form>
                <h1 style="width: fit-content; margin: auto; font-size: 2rem">
                    Create User
                </h1>
                <input type="number" hidden id="id" value="{{data.Id}}">
                <div>
                    <label for="fName">Enter Name <b>(BLOCK LETTER) </b>
                    </label>
                    <br />
                    <input type="text" name="name" value="{{data.Name}}" placeholder="Full Name" required id="fName" />
                </div>
                <div>
                    <label for="email">User ID
                    </label>
                    <br />
                    <input type="email" name="email" placeholder="First Name" required id="email"
                        value="{{data.Email}}" />
                </div>
                <div>
                    <label for="contact-number">Enter Contact Number <b>(98XXXXXXXX)</b></label>
                    <br />
                    <input type="number" id="contact-number" placeholder="Contact Number" required
                        value="{{data.Contact}}" />
                </div>
                <div>
                    <label for="dept">Department Name<span id="span"></span> </b>
                    </label>
                    <br />
                    <select name="select" id="department" value="{{data.Department}}">
                        <option value="Development">Development</option>
                        <option value="Designing">Designing</option>
                        <option value="Marketing">Marketing</option>
                    </select>
                </div>
                <div>
                    <label for="select">Role Type</b>
                    </label>
                    <br />
                    <select name="select" id="role" value="{{data.Role}}">
                        <option value="superadmin">Admin</option>
                        <option value="staff">Staff</option>
                    </select>
                </div>
                <div>
                    <label for="password">Enter Password</label>
                    <br />
                    <input type="text" id="password" placeholder="password" />
                </div>
                <div>
                    <button id="generateAccount">Generate Password</button>
                </div>
                <div class="btn">
                    <button type="button" id="createAccount-btn">
                        Update Account
                    </button>
                </div>
            </form>
            {{#if msg}}
            <h1>Email Already Exist</h1>
            {{/if}}
        </aside>
    </div>
</body>
<script src="../Js/index.js"></script>
<script>
    document.querySelector("#generateAccount").addEventListener("click", (e) => {
        e.preventDefault();
        let randomNumber = "";
        let randomNumberArray = ["0", "1", "2", "3", "4", "5",
            "6", "7", "8", "$", "+", "/", "^", "(", ")", "9", "A", "B", "C", "D", "E",
            "F", "G", "/", "$", "+", "/", "^", "(", ")",];
        let length = randomNumberArray.length;
        for (i = 0; i < 10; i++) {
            let index = Math.floor(Math.random() * length); randomNumber = randomNumber + randomNumberArray[index];
        }
        document.getElementById("password").value = randomNumber;
        return
    });
    document.querySelector("#createAccount-btn").addEventListener("click", (e) => {
        e.preventDefault();
        const nameregex = /^[A-Z]+\s[A-Z]+$/;
        const contactregec = /^98[0-9]{8}/;
        const name = document.getElementById("fName").value;
        const contact = document.getElementById("contact-number").value;
        const email = document.querySelector("#email").value;
        const department = document.querySelector("#department").value;
        const role = document.querySelector("#role").value;
        const password = document.querySelector("#password").value;
        const id = document.getElementById("id").value
        console.log(id)
        if (!nameregex.test(name) || !contactregec.test(contact)) {
            alert("Validation Failed");
        } else {
            fetch(`http://localhost:7000/api/updateAccount/${id}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    name, contact, email, email, department, role, password
                }),
            });
        }
    })
</script>

</html>