<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<link rel="stylesheet" href="../CSS/indexx.css" />
<style>
  body {
    background-color: #eaf2f8;
  }

  .logo img {
    width: 200px;
  }
</style>

<body>
  <div class="createAccount">
    <nav>
      <div class="logo">
        <div class="logo"><img src="./logo.png" alt="" /></div>
      </div>
      <ul>
        <li><a href="./home">Home</a></li>
        <li><a href="./createuser">Create Users</a></li>
        <li><a href="./user">User</a></li>
        <li><a href="./createProject.html">Create Project</a></li>
        <li><a href="./createTask.html">Create Task</a></li>
        <li><a href="./Leave.html">Leave</a></li>
      </ul>
    </nav>
    <aside>
      <form class="Depositeform2">
        <h1 style="width: fit-content; margin: auto">Create Project</h1>
         <input type="number" hidden id="id" value="{{data.Id}}">
        <div>
          <label for="fName">Project Name:</label>
          <br />
          <input type="text" name="fName" placeholder="Project Name" required id="fname" value="{{data.Name}}" />
        </div>
        <div>
          <label for="sdate">Start date:</label>
          <br />
          <input type="date" name="sdate" id="sdate" value="{{data.Start_date}}" />
        </div>
        <div>
          <label for="edate">End date:</label>
          <br />
          <input type="date" name="edate" id="edate"  value="{{data.End_date}}"/>
        </div>
        <div>
          <label for="department">Department:</label>
          <br>
          <select name="department" id="department" value="{{data.Department}}">
            <option value="Developer">Developer</option>
            <option value="Designer">Designing</option>
            <option value="Marketing">Marketing</option>
            <option value="Testing">Testing</option>

          </select>


        </div>

        <div class="btn">
          <button onclick="validateform(event) " >Create Project</button>
        </div>
      </form>
    </aside>
  </div>
</body>
<script src="../Js/index.js"></script>
<script>
  console.log("hiii")
  function validateform(e) {
    
     e.preventDefault();
    var name = document.getElementById('fname').value;
    var regex = /^[A-Za-z\s]+/
    var test = regex.test(name);
    if (!test) {
      alert("Validation failed");
    }
    else {

      var sdate = document.getElementById('sdate').value;
      var edate = document.getElementById('edate').value;
      var department = document.getElementById('department').value;
      const id = document.getElementById("id").value
      console.log(name, sdate, edate, department); 
      fetch(`http://localhost:7000/project/${id}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          name, start_date:sdate, end_date:edate ,department
        }),
      });
    } 
  }
</script>

</html>